body {
    margin: 0px;
    overflow: hidden;
    background-color: #292d3a;
}

.main {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1px;
    grid-auto-rows: minmax(auto, auto);
    position: absolute;
    grid-column-gap: 1px;
    border:1px solid black;

}
.sphere {
    fill: #464646;
}

.country {
    fill: #000000;
    stroke: black;
    stroke-opacity: 0.2;
}
.country:hover {
    fill: #505050;
    stroke-opacity: 0.8;
}

.country {
    fill: #171717;
    stroke: #6c6c6c;
    stroke-opacity: 0.1;
}
/*.country:hover {*/
/*    fill: #986d36;*/
/*    stroke-opacity: 0.8;*/
/*}*/

.ocean {
    fill: #343949;
    stroke: black;
    stroke-opacity: 0.05;
}
/*.ocean:hover {*/
/*    fill: #2340d5;*/
/*}*/

.lake {
    fill: #343949;
    stroke: black;
    stroke-opacity: 0.01;
}
/*.lake:hover {*/
/*    fill: #9da6d3;*/
/*}*/

.glacier {
    fill: #4d535e;
    stroke: #ffffff;
    stroke-opacity: 0.01;
}
/*.glacier:hover {*/
/*    fill: #9eb8d3;*/
/*}*/

/*.river {*/
/*    stroke: #6996cc;*/
/*}*/
/*.river:hover {*/
/*    fill: #6196c9;*/
/*}*/

.tooltip {
    text-align: left;
    width: 790px;
    height: 18px;
    transform: translate(0%, -120%);
    padding: 1px;
    padding-left: 5px;
    margin-left: 2px;
    font: 12px Lucida Bright;
    color: #e7e7e7;
    border: 0px;
    pointer-events: none;
    grid-row: 2;
    background: #343949;
}

.live_map_svg {
    grid-row: 1;
    grid-column: 2;
}

.hor_widgets {
    grid-column: 1;
    grid-row: 1;
}

.hor_widgets_right_btn {
    grid-column: 3;
    grid-row: 1;
    /*text-align:right;*/
    /*position: absolute;*/
}

.title_placard_numbers {
    border:1px solid black;
    margin-top: 5%;
    background: #1e242d;
    text-align: center;
    padding-top: 1px;
    color: #e7e7e7;
    font-family: Lucida Bright;
    width: 98%;
    height: 25px;
}

.placard_numbers {
    border:1px solid black;
    background: #4d535e;
    text-align: center;
    padding-top: 10px;
    color: #e8e7e7;
    font-size: 20px;
    font-family: Lucida Bright;
    height: 30px;
    width: 98%;
}


.slider_2 {
    -webkit-appearance: none;  /* Override default CSS styles */
    margin-left: 8px;
    appearance: none;
    width: 70%; /* Full-width */
    height: 7px; /* Specified height */
    border-radius: 7px;
    background: rgba(148, 148, 148, 0.61); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider_2:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.hor_widgets_element {
    font-size: larger;
    font-family: Lucida Bright;
    display: block;
    color: #e7e7e7;
    background: #4d535e;
    margin-top: 5px;
}

.hor_widgets_element_textBox {
    display: block;
    color: #e7e7e7;
    background: #4d535e;
    margin-top: 5px;
    width: 100%;
}

.input_text_box {
    padding-left: 2px;
    background: #4d535e;
    font-family: Lucida Bright;
    color: #e7e7e7;
    font-size: 16px;
    width: 93%;
    padding-top: 5px;
    margin-top: 5px;
    height: 35px;
    height: fit-content;
}

.input_text_box_airport {
    padding-left: 2px;
    background: #4d535e;
    font-family: Lucida Bright;
    color: #e7e7e7;
    font-size: 13px;
    width: 28%;
    height: fit-content;
}
.input_text_box_type {
    padding-left: 2px;
    background: #4d535e;
    font-family: Lucida Bright;
    color: #e7e7e7;
    font-size: 13px;
    width: 10%;
    height: fit-content;
    color: #e7e7e7;
}

.input_date_box {
    background: #343949;
    color: #e7e7e7;
    font-family: Lucida Bright;
    width: 20%;
}

.search_btn {
    background: #343949;
    color: #e7e7e7;
    font-family: Lucida Bright;
    width: 14%;
}

.hor_widgets_element:hover {
    display: block;
    background: #464b56;
}

.label_class_asli {
    margin-left: 10px;
    font-size: 12px;
    font-family: Consolas;

}

.label_class_bigger {
    margin-left: 10px;
    font-size: 16px;
    padding-top: 5px;
    margin-top: 15px;
    alignment: left;
    font-family: Consolas;

}

.option_element {
    font-size: 12px;
    background: #464b56;
    font-family: Consolas;
    width: fit-content;
    height: 10px;
}

.label_class {
    /*margin-left: 5px;*/
    /*align-content: center;*/
    font-size: 12px;
    font-family: Consolas;
}

.radioBtn {
    text-align: center;
}

.airport {
    fill: white;
}

.chart_container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1px;
    grid-auto-rows: minmax(auto, auto);
    position: absolute;
    grid-column-gap: 1px;
    padding: 3px;
    color: #e7e7e7;
    width: fit-content;
    grid-column: 4;
}

.chart_element_airline_bar {
    padding: 1px;
    padding-top: 15px;
    border:1px solid black;
    grid-column: 2;
    grid-row: 1;
}

.scatterplot_speed_altitude {
    padding: 2px;
    padding-top: 20px;
    alignment: top;
    border:1px solid black;
}

.chart_element_distribution{
    padding: 1px;
    border:1px solid black;
    grid-column: 1;
    grid-row: 1;
}

.chart_container_second_row {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1px;
    grid-auto-rows: minmax(auto, auto);
    position: absolute;
    grid-column-gap: 1px;
    padding: 2px;
    color: #e7e7e7;
    font-family: Lucida Bright;
    width: 1000px;
    grid-row: 2;
}
.chart_element_airplaneModel_barchart {
    padding: 2px;
    border:1px solid black;
    grid-column: 2;
    grid-row: 1;
}

.airportTraficTimeseries_div {
    border:1px solid black;
    width: 797px;
    height: 410px;
}

.time_series_plot {
    /*width: 810px;*/
    /*height: 400px;*/
    padding-top: 20px;
}

.chart_element_airline_bar_fleetAge {
    padding: 1px;
    padding-top: 15px;
    border:1px solid black;
    grid-column: 3;
    grid-row: 1;
}

.label_class_airline {
    margin-left: 15px;
    font-size: 12px;
    width: 100%;
    height: 45px;
    font-family: Consolas;
}


.title_placard_numbers_left {
    border:1px solid black;
    margin-top: 5%;
    background: #474e56;
    text-align: center;
    padding-top: 1px;
    color: #e7e7e7;
    font-family: Lucida Bright;
    width: 98%;
    height: 20px;
}

.placard_numbers_left {
    border:1px solid black;
    background: #62666e;
    text-align: center;
    padding-top: 10px;
    color: #e8e7e7;
    font-size: 20px;
    font-family: Lucida Bright;
    height: 30px;
    width: 98%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.hor_widgets_element_2 {
    font-size: larger;
    font-family: Lucida Bright;
    display: block;
    color: #e7e7e7;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #4d535e;
    margin-top: 5px;
}